@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.background-class {
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.3);
}
header {
  background-color: #373b69;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brand {
  color: #7378c5;
  background-color: #22254b;
  padding: 1rem;
  vertical-align: middle;
  border-radius: 4px;
}
.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}
#main {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 679px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  cursor: pointer;
}
.movie img {
  width: 100%;
  vertical-align: middle;
}
.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}
.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}
.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  cursor: pointer;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
#chosen-movie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.movie-header {
  width: 300px;
  margin: 0 auto;
  color: #eee;
}
.movie-header img {
  width: 100%;
}
.movie-detail {
  color: #eee;
  width: 500px;
  height: 400px;
  text-align: center;
}
.back-to-link {
  text-decoration: none;
  color: #eee;
  background-color: #7378c5;
  padding: 10px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border-radius: 4px;
  text-align: center;
}
.back-to-link:hover {
  background-color: #373b69;
}
